body{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: lightslategray;
}
main{
    min-width: 50%;
    max-width: 50%;
    border: 1px solid black;
    padding: 2% 0 2% 0;
    border-radius: 10%;
    background-image: url(../img/fondo_mesa.png);
}
main > section{
    display: flex;
    width: 100%;
}
.personal-cards{
    align-content: center;
    justify-content: center;
    margin: 0 0.5% 0 0.5%;
}
#personal-card-1{
    margin-right: 1rem;
}
.match-street{
    justify-content: space-around;
    margin: 10% 0 10% 0;
}
.rival-cards{
    justify-content: center;
}
#rival-card-1{
    margin-right: 1rem;
}
.card{
    width: 6rem;
    height: 7rem;
    border: 1px solid black;
    border-radius: 20%;
    text-align: center;
    align-content: center;
    background-image: url(../img/dorsoCarta.png);
}
.card label{
    font-size: 3rem;
}
.discovered{
    background-image: none;
    background-color: white;
}
aside{
    display: flex;
    flex-wrap: wrap;
    min-width: 30%;
    max-width: 30%;
    border: 1px solid black;
    padding-left: 5%;
    border-radius: 10%;
}
aside h1{
    font-size: 2.5rem;
}
aside li{
    font-size: 1.5rem;
}
#btn_sig{
    padding: 0 1% 0 1%;
    font-size: 1.5rem;
    background-color: lightslategray;
    border-radius: 50%;
}
#btn_sig:hover{
    background-color: lightgreen;
}